/* Essentials */
/* line 3, ../../app/stylesheets/screen.scss */
html, div, map, dt, isindex, form, header, aside, section, section, article, footer {
  display: block;
}

/* line 7, ../../app/stylesheets/screen.scss */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
  background: #F8F8F8;
  font-size: 12px;
}

/* line 16, ../../app/stylesheets/screen.scss */
.clear {
  clear: both;
}

/* line 20, ../../app/stylesheets/screen.scss */
.spacer {
  height: 20px;
}

/* line 24, ../../app/stylesheets/screen.scss */
a:link, a:visited {
  color: #77BACE;
  text-decoration: none;
}

/* line 29, ../../app/stylesheets/screen.scss */
a:hover {
  text-decoration: underline;
}

/* Header */
/* line 36, ../../app/stylesheets/screen.scss */
header#header {
  height: 55px;
  width: 100%;
  background: #222222 url(../images/_ui/header_bg.png) repeat-x;
}

/* line 42, ../../app/stylesheets/screen.scss */
header#header h1.site_title, header#header h2.section_title {
  float: left;
  margin: 0;
  font-size: 22px;
  display: block;
  width: 23%;
  height: 55px;
  font-weight: normal;
  text-align: left;
  text-indent: 1.8%;
  line-height: 55px;
  color: #fff;
  text-shadow: 0 -1px 0 black;
}

/* line 57, ../../app/stylesheets/screen.scss */
header#header h1.site_title a {
  color: #fff;
  text-decoration: none;
}

/* line 62, ../../app/stylesheets/screen.scss */
header#header h2.section_title {
  text-align: center;
  text-indent: 4.5%;
  width: 68%;
  background: url(../images/_ui/header_shadow.png) no-repeat left top;
}

/* line 69, ../../app/stylesheets/screen.scss */
.btn_view_site {
  float: left;
  width: 9%;
}

/* line 74, ../../app/stylesheets/screen.scss */
.btn_view_site a {
  display: block;
  margin-top: 12px;
  width: 91px;
  height: 27px;
  background: url(../images/_ui/btn_view_site.png) no-repeat;
  text-align: center;
  line-height: 29px;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px 0 black;
}

/* line 86, ../../app/stylesheets/screen.scss */
.btn_view_site a:hover {
  background-position: 0 -27px;
}

/* Secondary Header Bar */
/* line 92, ../../app/stylesheets/screen.scss */
section#secondary_bar {
  height: 38px;
  width: 100%;
  background: #f1f1f4 url(../images/_ui/secondary_bar.png) repeat-x;
}

/* line 98, ../../app/stylesheets/screen.scss */
section#secondary_bar .user {
  float: left;
  width: 23%;
  height: 38px;
}

/* line 104, ../../app/stylesheets/screen.scss */
.user p {
  margin: 0;
  padding: 0;
  color: #666666;
  font-weight: bold;
  display: block;
  float: left;
  width: 85%;
  height: 35px;
  line-height: 35px;
  text-indent: 25px;
  text-shadow: 0 1px 0 #fff;
  background: url(../images/_ui/icn_user.png) no-repeat center left;
  margin-left: 6%;
}

/* line 120, ../../app/stylesheets/screen.scss */
.user a {
  text-decoration: none;
  color: #666666;
}

/* line 124, ../../app/stylesheets/screen.scss */
.user a:hover {
  color: #77BACE;
}

/* line 128, ../../app/stylesheets/screen.scss */
.user a.logout_user {
  float: left;
  display: block;
  width: 16px;
  height: 35px;
  text-indent: -5000px;
  background: url(../images/_ui/icn_logout.png) center no-repeat;
}

/* Breadcrumbs */
/* line 139, ../../app/stylesheets/screen.scss */
section#secondary_bar .breadcrumbs_container {
  float: left;
  width: 77%;
  background: url(../images/_ui/secondary_bar_shadow.png) no-repeat left top;
  height: 38px;
}

/* line 146, ../../app/stylesheets/screen.scss */
article.breadcrumbs {
  float: left;
  padding: 0 10px;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 0 #fff;
  -moz-box-shadow: 0 1px 0 #fff;
  box-shadow: 0 1px 0 #fff;
  height: 23px;
  margin: 4px 3%;
}

/* line 160, ../../app/stylesheets/screen.scss */
.breadcrumbs a {
  display: inline-block;
  float: left;
  height: 24px;
  line-height: 23px;
}

/* line 167, ../../app/stylesheets/screen.scss */
.breadcrumbs a.current, .breadcrumbs a.current:hover {
  color: #9E9E9E;
  font-weight: bold;
  text-shadow: 0 1px 0 #fff;
  text-decoration: none;
}

/* line 174, ../../app/stylesheets/screen.scss */
.breadcrumbs a:link, .breadcrumbs a:visited {
  color: #44474F;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  font-weight: bold;
}

/* line 180, ../../app/stylesheets/screen.scss */
.breadcrumbs a:hover {
  color: #222222;
}

/* line 184, ../../app/stylesheets/screen.scss */
.breadcrumb_divider {
  display: inline-block;
  width: 12px;
  height: 24px;
  background: url(../images/_ui/breadcrumb_divider.png) no-repeat;
  float: left;
  margin: 0 5px;
}

/* Sidebar */
/* line 195, ../../app/stylesheets/screen.scss */
aside#sidebar {
  width: 23%;
  background: #e0e0e3 url(../images/_ui/sidebar.png) repeat;
  float: left;
  min-height: 500px;
  margin-top: -4px;
}

/* line 203, ../../app/stylesheets/screen.scss */
#sidebar hr {
  border: none;
  outline: none;
  background: url(../images/_ui/sidebar_divider.png) repeat-x;
  display: block;
  width: 100%;
  height: 2px;
}

/* Search */
/* line 214, ../../app/stylesheets/screen.scss */
.quick_search {
  text-align: center;
  padding: 14px 0 10px 0;
}

/* line 219, ../../app/stylesheets/screen.scss */
.quick_search input[type=text] {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 1px solid #bbb;
  height: 26px;
  width: 90%;
  color: #ccc;
  -webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
  -moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
  box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
  text-indent: 30px;
  background: white url(../images/_ui/icn_search.png) no-repeat;
  background-position: 10px 6px;
}

/* line 235, ../../app/stylesheets/screen.scss */
.quick_search input[type=text]:focus {
  outline: none;
  color: #666666;
  border: 1px solid #77BACE;
  -webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
  -moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
  box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
}

/* Sidebar Menu */
/* line 246, ../../app/stylesheets/screen.scss */
#sidebar h3 {
  color: #1F1F20;
  text-transform: uppercase;
  text-shadow: 0 1px 0 #fff;
  font-size: 13px;
  margin: 10px 0 10px 6%;
  display: block;
  float: left;
  width: 90%;
}

/* line 257, ../../app/stylesheets/screen.scss */
.toggleLink {
  color: #999999;
  font-size: 10px;
  text-decoration: none;
  display: block;
  float: right;
  margin-right: 2%;
}

/* line 266, ../../app/stylesheets/screen.scss */
#sidebar .toggleLink:hover {
  color: #77BACE;
  text-decoration: none;
}

/* line 271, ../../app/stylesheets/screen.scss */
#sidebar ul {
  clear: both;
  margin: 0;
  padding: 0;
}

/* line 276, ../../app/stylesheets/screen.scss */
#sidebar li {
  list-style: none;
  margin: 0 0 0 12%;
  padding: 0;
}

/* line 281, ../../app/stylesheets/screen.scss */
#sidebar li a {
  color: #666666;
  padding-left: 25px;
  text-decoration: none;
  display: inline-block;
  height: 17px;
  line-height: 17px;
  text-shadow: 0 1px 0 #fff;
  margin: 2px 0;
}

/* line 292, ../../app/stylesheets/screen.scss */
#sidebar li a:hover {
  color: #444444;
}

/* Sidebar Icons */
/* line 298, ../../app/stylesheets/screen.scss */
#sidebar li.icn_new_article a {
  background: url(../images/_ui/icn_new_article.png) no-repeat center left;
}

/* line 301, ../../app/stylesheets/screen.scss */
#sidebar li.icn_edit_article a {
  background: url(../images/_ui/icn_edit_article.png) no-repeat center left;
}

/* line 304, ../../app/stylesheets/screen.scss */
#sidebar li.icn_categories a {
  background: url(../images/_ui/icn_categories.png) no-repeat center left;
}

/* line 307, ../../app/stylesheets/screen.scss */
#sidebar li.icn_tags a {
  background: url(../images/_ui/icn_tags.png) no-repeat center left;
}

/* line 310, ../../app/stylesheets/screen.scss */
#sidebar li.icn_add_user a {
  background: url(../images/_ui/icn_add_user.png) no-repeat center left;
}

/* line 313, ../../app/stylesheets/screen.scss */
#sidebar li.icn_view_users a {
  background: url(../images/_ui/icn_view_users.png) no-repeat center left;
}

/* line 316, ../../app/stylesheets/screen.scss */
#sidebar li.icn_profile a {
  background: url(../images/_ui/icn_profile.png) no-repeat center left;
}

/* line 319, ../../app/stylesheets/screen.scss */
#sidebar li.icn_folder a {
  background: url(../images/_ui/icn_folder.png) no-repeat center left;
}

/* line 322, ../../app/stylesheets/screen.scss */
#sidebar li.icn_photo a {
  background: url(../images/_ui/icn_photo.png) no-repeat center left;
}

/* line 325, ../../app/stylesheets/screen.scss */
#sidebar li.icn_audio a {
  background: url(../images/_ui/icn_audio.png) no-repeat center left;
}

/* line 328, ../../app/stylesheets/screen.scss */
#sidebar li.icn_video a {
  background: url(../images/_ui/icn_video.png) no-repeat center left;
}

/* line 331, ../../app/stylesheets/screen.scss */
#sidebar li.icn_settings a {
  background: url(../images/_ui/icn_settings.png) no-repeat center left;
}

/* line 334, ../../app/stylesheets/screen.scss */
#sidebar li.icn_security a {
  background: url(../images/_ui/icn_security.png) no-repeat center left;
}

/* line 337, ../../app/stylesheets/screen.scss */
#sidebar li.icn_jump_back a {
  background: url(../images/_ui/icn_jump_back.png) no-repeat center left;
}

/* line 341, ../../app/stylesheets/screen.scss */
#sidebar p {
  color: #666666;
  padding-left: 6%;
  text-shadow: 0 1px 0 #fff;
  margin: 10px 0 0 0;
}

/* line 347, ../../app/stylesheets/screen.scss */
#sidebar a {
  color: #666666;
  text-decoration: none;
}

/* line 352, ../../app/stylesheets/screen.scss */
#sidebar a:hover {
  text-decoration: underline;
}

/* line 356, ../../app/stylesheets/screen.scss */
#sidebar footer {
  margin-top: 20%;
}

/* Main Content */
/* line 364, ../../app/stylesheets/screen.scss */
section#main {
  width: 77%;
  min-height: 500px;
  background: url(../images/_ui/sidebar_shadow.png) repeat-y left top;
  float: left;
  margin-top: -2px;
}

/* line 372, ../../app/stylesheets/screen.scss */
#main h3 {
  color: #1F1F20;
  text-transform: uppercase;
  text-shadow: 0 1px 0 #fff;
  font-size: 13px;
  margin: 8px 20px;
}

/* Modules */
/* line 382, ../../app/stylesheets/screen.scss */
.module {
  border: 1px solid #9BA0AF;
  width: 100%;
  margin: 20px 3% 0 3%;
  margin-top: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #ffffff;
}

/* line 393, ../../app/stylesheets/screen.scss */
#main .module header h3 {
  display: block;
  width: 90%;
  float: left;
}

/* line 399, ../../app/stylesheets/screen.scss */
.module header {
  height: 38px;
  width: 100%;
  background: #f1f1f4 url(../images/_ui/secondary_bar.png) repeat-x;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* line 408, ../../app/stylesheets/screen.scss */
.module footer {
  height: 32px;
  width: 100%;
  border-top: 1px solid #9CA1B0;
  background: #f1f1f4 url(../images/_ui/module_footer_bg.png) repeat-x;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
}

/* line 418, ../../app/stylesheets/screen.scss */
.module_content {
  margin: 10px 20px;
  color: #666;
}

/* Module Widths */
/* line 424, ../../app/stylesheets/screen.scss */
.width_full {
  width: 95%;
}

/* line 428, ../../app/stylesheets/screen.scss */
.width_half {
  width: 46%;
  margin-right: 0;
  float: left;
}

/* line 434, ../../app/stylesheets/screen.scss */
.width_quarter {
  width: 26%;
  margin-right: 0;
  float: left;
}

/* line 440, ../../app/stylesheets/screen.scss */
.width_3_quarter {
  width: 66%;
  margin-right: 0;
  float: left;
}

/* Stats Module */
/* line 448, ../../app/stylesheets/screen.scss */
.stats_graph {
  width: 64%;
  float: left;
}

/* line 453, ../../app/stylesheets/screen.scss */
.stats_overview {
  background: #F6F6F6;
  border: 1px solid #ccc;
  float: right;
  width: 26%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 463, ../../app/stylesheets/screen.scss */
.overview_today, .overview_previous {
  width: 50%;
  float: left;
}

/* line 467, ../../app/stylesheets/screen.scss */
.stats_overview p {
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 1px 0 #fff;
}

/* line 474, ../../app/stylesheets/screen.scss */
.stats_overview p.overview_day {
  font-size: 12px;
  font-weight: bold;
  margin: 6px 0;
}

/* line 480, ../../app/stylesheets/screen.scss */
.stats_overview p.overview_count {
  font-size: 26px;
  font-weight: bold;
  color: #333333;
}

/* line 485, ../../app/stylesheets/screen.scss */
.stats_overview p.overview_type {
  font-size: 10px;
  color: #999999;
  margin-bottom: 8px;
}

/* Content Manager */
/* line 492, ../../app/stylesheets/screen.scss */
table {
  width: 100%;
  margin: -5px 0 0 0;
  border-spacing: 0;
}
/* line 497, ../../app/stylesheets/screen.scss */
table td {
  margin: 0;
  padding: 15px 10px;
  border-bottom: 1px dotted #ccc;
}
/* line 503, ../../app/stylesheets/screen.scss */
table thead tr {
  height: 34px;
  background: url(../images/_ui/table_sorter_header.png) repeat-x;
  text-align: left;
  text-indent: 10px;
  cursor: pointer;
}
/* line 511, ../../app/stylesheets/screen.scss */
table .tablesorter input[type=image] {
  margin-right: 10px;
}

/* line 516, ../../app/stylesheets/screen.scss */
ul.tabs {
  margin: 3px 10px 0 0;
  padding: 0;
  float: right;
  list-style: none;
  height: 24px;
  /*--Set height of tabs--*/
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 0 #fff;
  -moz-box-shadow: 0 1px 0 #fff;
  box-shadow: 0 1px 0 #fff;
  border: 1px solid #ccc;
  font-weight: bold;
  text-shadow: 0 1px 0 #fff;
}

/* line 532, ../../app/stylesheets/screen.scss */
ul.tabs li {
  float: left;
  margin: 0;
  padding: 0;
  line-height: 24px;
}

/* line 538, ../../app/stylesheets/screen.scss */
ul.tabs li a {
  text-decoration: none;
  color: #999;
  display: block;
  padding: 0 10px;
  height: 24px;
}

/* line 546, ../../app/stylesheets/screen.scss */
ul.tabs li a:hover {
  color: #44474F;
}

/* line 550, ../../app/stylesheets/screen.scss */
html ul.tabs li.active a {
  color: #44474F;
}

/* line 554, ../../app/stylesheets/screen.scss */
html ul.tabs li.active, html ul.tabs li.active a:hover {
  background: #F1F2F4;
  -webkit-box-shadow: inset 0 2px 3px #818181;
  -moz-box-shadow: inset 0 2px 3px #818181;
  box-shadow: inset 0 2px 3px #818181;
}

/* line 561, ../../app/stylesheets/screen.scss */
html ul.tabs li:first-child, html ul.tabs li:first-child a {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* line 567, ../../app/stylesheets/screen.scss */
html ul.tabs li:last-child, html ul.tabs li:last-child a {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* line 573, ../../app/stylesheets/screen.scss */
#main .module header h3.tabs_involved {
  display: block;
  width: 60%;
  float: left;
}

/* Messages */
/* line 581, ../../app/stylesheets/screen.scss */
.message {
  border-bottom: 1px dotted #cccccc;
}

/* line 585, ../../app/stylesheets/screen.scss */
input[type=submit] {
  background: #d0d1d4 url(../images/_ui/btn_submit.png) repeat-x;
  border: 1px solid #A8A9A8;
  -webkit-box-shadow: 0 1px 0 #fff;
  -moz-box-shadow: 0 1px 0 #fff;
  box-shadow: 0 1px 0 #fff;
  font-weight: bold;
  height: 22px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 0 10px;
  color: #666;
  text-shadow: 0 1px 0 #fff;
  cursor: pointer;
}

/* line 602, ../../app/stylesheets/screen.scss */
input[type=submit]:hover {
  color: #333333;
}

/* line 606, ../../app/stylesheets/screen.scss */
input[type=submit].alt_btn {
  background: #d0d1d4 url(../images/_ui/btn_submit_2.png) repeat-x;
  border: 1px solid#30B0C8;
  -webkit-box-shadow: 0 1px 0 #fff;
  -moz-box-shadow: 0 1px 0 #fff;
  box-shadow: 0 1px 0 #fff;
  font-weight: bold;
  height: 22px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 0 10px;
  color: #003E49;
  text-shadow: 0 1px 0 #6CDCF9;
  cursor: pointer;
}

/* line 623, ../../app/stylesheets/screen.scss */
input[type=submit].alt_btn:hover {
  color: #001217;
}

/* line 627, ../../app/stylesheets/screen.scss */
input[type=submit].btn_post_message {
  background: #d0d1d4 url(../images/_ui/post_message.png) no-repeat;
  display: block;
  width: 37px;
  border: none;
  height: 24px;
  cursor: pointer;
  text-indent: -5000px;
}

/* line 637, ../../app/stylesheets/screen.scss */
input[type=submit].btn_post_message:hover {
  background-position: 0 -24px;
}

/* line 641, ../../app/stylesheets/screen.scss */
.post_message {
  text-align: left;
  padding: 5px 0;
}

/* line 646, ../../app/stylesheets/screen.scss */
.post_message input[type=text] {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #bbb;
  height: 20px;
  width: 70%;
  color: #ccc;
  -webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
  -moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
  box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
  text-indent: 10px;
  background-position: 10px 6px;
  float: left;
  margin: 0 3.5%;
}

/* line 663, ../../app/stylesheets/screen.scss */
.post_message input[type=text]:focus {
  outline: none;
  border: 1px solid #77BACE;
  -webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
  -moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
  box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
  color: #666666;
}

/* line 672, ../../app/stylesheets/screen.scss */
.post_message input[type=image] {
  float: left;
}

/* line 676, ../../app/stylesheets/screen.scss */
.message_list {
  height: 250px;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* New/Edit Article Module */
/* line 684, ../../app/stylesheets/screen.scss */
fieldset {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #F6F6F6;
  border: 1px solid #ccc;
  padding: 1% 0%;
  margin: 10px 0;
}

/* line 694, ../../app/stylesheets/screen.scss */
fieldset label {
  display: block;
  float: left;
  width: 200px;
  height: 25px;
  line-height: 25px;
  text-shadow: 0 1px 0 #fff;
  font-weight: bold;
  padding-left: 10px;
  margin: -5px 0 5px 0;
  text-transform: uppercase;
}

/* line 707, ../../app/stylesheets/screen.scss */
fieldset input[type=text] {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #BBBBBB;
  height: 20px;
  color: #666666;
  -webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
  -moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
  box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
  padding-left: 10px;
  background-position: 10px 6px;
  margin: 0;
  display: block;
  float: left;
  width: 96%;
  margin: 0 10px;
}

/* line 726, ../../app/stylesheets/screen.scss */
fieldset input[type=text]:focus {
  outline: none;
  border: 1px solid #77BACE;
  -webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
  -moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
  box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
}

/* line 734, ../../app/stylesheets/screen.scss */
fieldset select {
  width: 96%;
  margin: 0 10px;
  border: 1px solid #bbb;
  height: 20px;
  color: #666666;
}

/* line 742, ../../app/stylesheets/screen.scss */
fieldset textarea {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #BBBBBB;
  color: #666666;
  -webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
  -moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
  box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
  padding-left: 10px;
  background-position: 10px 6px;
  margin: 0 0.5%;
  display: block;
  float: left;
  width: 96%;
  margin: 0 10px;
}

/* line 760, ../../app/stylesheets/screen.scss */
fieldset textarea:focus {
  outline: none;
  border: 1px solid #77BACE;
  -webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
  -moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
  box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
}

/* line 768, ../../app/stylesheets/screen.scss */
.submit_link {
  float: right;
  margin-right: 3%;
  padding: 5px 0;
}

/* line 774, ../../app/stylesheets/screen.scss */
.submit_link select {
  width: 150px;
  border: 1px solid #bbb;
  height: 20px;
  color: #666666;
}

/* line 781, ../../app/stylesheets/screen.scss */
#main .module_content h1 {
  color: #333333;
  text-transform: none;
  text-shadow: 0 1px 0 #fff;
  font-size: 22px;
  margin: 8px 0px;
}

/* line 789, ../../app/stylesheets/screen.scss */
#main .module_content h2 {
  color: #444444;
  text-transform: none;
  text-shadow: 0 1px 0 #fff;
  font-size: 18px;
  margin: 8px 0px;
}

/* line 797, ../../app/stylesheets/screen.scss */
#main .module_content h3 {
  color: #666666;
  text-transform: uppercase;
  text-shadow: 0 1px 0 #fff;
  font-size: 13px;
  margin: 8px 0px;
}

/* line 805, ../../app/stylesheets/screen.scss */
#main .module_content h4 {
  color: #666666;
  text-transform: none;
  text-shadow: 0 1px 0 #fff;
  font-size: 13px;
  margin: 8px 0px;
}

/* line 813, ../../app/stylesheets/screen.scss */
#main .module_content li {
  line-height: 150%;
}

/* Alerts */
/* line 819, ../../app/stylesheets/screen.scss */
#main h4.alert_info {
  display: block;
  width: 95%;
  margin: 20px 3% 0 3%;
  margin-top: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #b5e5ef url(../images/_ui/icn_alert_info.png) no-repeat;
  background-position: 10px 10px;
  border: 1px solid #77BACE;
  color: #082B33;
  padding: 10px 0;
  text-indent: 40px;
  font-size: 14px;
}

/* line 835, ../../app/stylesheets/screen.scss */
#main h4.alert_warning {
  display: block;
  width: 95%;
  margin: 20px 3% 0 3%;
  margin-top: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #f5f3ba url(../images/_ui/icn_alert_warning.png) no-repeat;
  background-position: 10px 10px;
  border: 1px solid #C7A20D;
  color: #796616;
  padding: 10px 0;
  text-indent: 40px;
  font-size: 14px;
}

/* line 851, ../../app/stylesheets/screen.scss */
#main h4.alert_error {
  display: block;
  width: 95%;
  margin: 20px 3% 0 3%;
  margin-top: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #f3d9d9 url(../images/_ui/icn_alert_error.png) no-repeat;
  background-position: 10px 10px;
  border: 1px solid #D20009;
  color: #7B040F;
  padding: 10px 0;
  text-indent: 40px;
  font-size: 14px;
}

/* line 867, ../../app/stylesheets/screen.scss */
#main h4.alert_success {
  display: block;
  width: 95%;
  margin: 20px 3% 0 3%;
  margin-top: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #e2f6c5 url(../images/_ui/icn_alert_success.png) no-repeat;
  background-position: 10px 10px;
  border: 1px solid #79C20D;
  color: #32510F;
  padding: 10px 0;
  text-indent: 40px;
  font-size: 14px;
}
